---
import Counter from '../components/Counter.tsx';
---

<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

		<style>
			:global(:root) {
				font-family: system-ui;
				font-family: 'Press Start 2P', cursive;
				padding: 2em 0;
			}
			:global(.counter) {
				display: grid;
				grid-template-columns: repeat(3, minmax(0, 1fr));
				place-items: center;
				font-size: 2em;
				margin-top: 2em;
			}
			:global(.children) {
				display: grid;
				place-items: center;
				margin-bottom: 2em;
			}
		</style>
	</head>
	<body>
		<main>
				<h1>Layer1.xyz</h1>
			<Counter client:visible>
			</Counter>
		</main>
	</body>
</html>
